[Unit]
Description=Klapa Bot
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/sigamiz
ExecStart=/usr/bin/python3 bot/main.py
Restart=always

[Install]
WantedBy=multi-user.target
