[Unit]
Description=Klapa Bot
After=network.target

[Service]
User=admn
Group=admn
WorkingDirectory=/home/admn/sigamiz
ExecStart=/home/admn/sigamiz/venv/bin/python3 bot/main.py
Restart=always

[Install]
WantedBy=multi-user.target
