[Unit]
Description=Klapa Backend
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/sigamiz
ExecStart=/usr/bin/python3 backend/main.py
Restart=always

[Install]
WantedBy=multi-user.target
